@import 'helpers';

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
#app {
    height: 100%;
    // display: flex;
    // flex-direction: column;
}
// Landing Page Dashboard View
.page__container {
    // display: flex;
    // flex: 1;
    background: #ECF0F5;
    overflow: hidden;
    .main__view{
        width: 100%;
    }
}
.page__header {
    background-color: #34495e;
}
.page__content {
    // flex: 1;
    // width: 75%;
    overflow: auto;
}