<template>
    <div>
        {{ $t("confirm.apply_role_to_user") }}
        <custom-menu></custom-menu>
    </div>
</template>
<script>
import CustomMenu from './../components/CustomMenu'
export default {
    components:{
        CustomMenu
    }
}
</script>
