<template>
    <mainview></mainview>
    <!-- <ul>
        <li v-for="post in posts">
            {{ post.title }} <br>
            {{ post.body }}
        </li>
    </ul> -->
</template>

<script>
    import {mapState, mapActions} from 'vuex'
    import sidenav from './../components/Sidenav'
    import mainview from './Main'

    export default {
        computed: mapState({
            posts: state => state.posts.all
        }),
        created () {
            this.$store.dispatch('posts/getAllPosts')
        },
        components: {
            sidenav,
            mainview
        }
    }
</script>
