<template>
    <div class="loginPage">
        <div class="header">

        </div>

        <div class="loginContent">            
            <div class="loginForm">
                <div class="header">

                </div>
                <transition name="fade"
                    mode="out-in"
                    >

                <form class="form" v-if="isLoggedIn" key="1"> 
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd">
                    </div>
                    <button type="button" class="btn btn-info" @click="submitted">Submit</button>
                </form>
                <div v-else class="branch" key="2">
                    <span class="header">
                    select branch
                    </span>
                    <select class="select">
                        <option value="volvo">Manila</option>
                        <option value="saab">Pampanga</option>
                        <option value="vw">Makati</option>
                        <option value="audi" selected>Clark</option>
                    </select>
                    <p>
                        
                    </p>
                    <div class="actions">
                        <button type="button" class="btn btn-info btn-logout" @click="logout">ok</button>
                        <button type="button" class="btn btn-info btn-logout" @click="logout">cancel</button>
                    </div>
                </div>
                </transition>
            </div>
        </div>

        <div class="footerContaier">

        </div>
    </div>
</template>

<script>
export default {
    data () {
        return{
            isLoggedIn:true
        }
    },
    methods: {
        submitted () {
            this.isLoggedIn = false
        },
        logout () {
            this.isLoggedIn = true
        }
    }
}
</script>

<style lang="scss">
// .fade-enter-active, .fade-leave-active {
//     transition: opacity .3s;
// }
// .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
//     opacity: 0;
// }

.fade-enter{
    // opacity: 0;
    transform: translateX(30px);
}
.fade-enter-active{
    transition: all .5s;
}
.fade-leave{
    /* opacity: 1; */
    // transform: translateX(-70px);`
}
.fade-leave-active{
    transition: all .5s;
    // opacity: 0;
}

.loginPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    > .header {
    width: 100%;
    height: 30px;
    background: rgb(12, 26, 41);
    }
}
    
.loginContent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    > .loginForm {
        width: 450px;
        height: 330px;
        background: hsl(0, 0%, 100%);
        display: flex;
        flex-direction: column;
    }
    > .loginForm > .header {
        height: 70px;
        width: 100%;
        background: #fff;
        
    }
    > .loginForm > .form {
        padding: 20px;
    }
    > .loginForm > .branch {
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    > .loginForm > .branch > .header{
        padding: 0 10px;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 700;
        color: rgb(63, 63, 63);
        align-self: flex-start;
        border-bottom: 1px solid #333;
        width: 100%;

    }
    > .loginForm > .branch > .select{
        width: 50%;
        padding: 5px;
        border-radius: 10px;
        letter-spacing: 1px;
        margin-bottom: auto;
        margin-top: 10%;
    }
    > .loginForm > .branch > .actions{
        align-self: flex-end;
    }
}

</style>
