<template>
    <div class="nav-accordion">
    <div :style="indent" @click="toggleChildren">
        <span v-if="isFolder"> {{$t(`${label}`)}} [{{ showChildren ? '-' : '+' }}]</span>
        <span v-else @dblclick="addToTab(path)">
            <router-link 
                        :to="`${path.path}`">{{$t(`${label}`)}}</router-link>
        </span>
        </div>
    <nav-accordion 
        v-if="showChildren"
        v-for="(link, index) in content" 
        :key="index"
        :content="link.content" 
        :label="link.label"
        :depth="depth + 1"
        :path="link">
    </nav-accordion>
</div>
</template>

<script>
import {mapState, mapActions} from 'vuex'

export default {
    name: 'nav-accordion',
    props: [ 'label', 'content','depth', 'path' ],
    data() {
        return { showChildren: false }
    },
    computed: {
        indent() {
            return { transform: `translate(${this.depth * 30}px)` }
        },
        isFolder: function () {
            return this.content.length
        }
    },
    methods: {
        ...mapActions('links', [
            'addToTab'
        ]),
        toggleChildren() {
            this.showChildren = !this.showChildren;
        },
        consoleMe(me) {
            console.log(me)
        }
    }
    
}
</script>

<style>

</style>
