<template>
    <div class="sidenav__container" id="toggleNav">
                        Main Navigation
                        <button @click="switchNav()"> switch </button>
        <div class="sidenav__links" v-show="false">
            <ul>
                <transition-group name="slide-fade">
                <li class="main__nav" v-if="customOn" v-for="routes in links"
                    v-bind:key="routes.id"
                    @dblclick="addToTab(routes)">
                    <router-link 
                    :to="`${routes.page}`">{{routes.text}}</router-link>
                </li>
                </transition-group>
                <transition-group name="slide-fade">
                    <li  v-if="!customOn" v-for="routes in customLinks"
                        v-bind:key="routes.id"
                        @dblclick="addToTab(routes)">
                        <router-link 
                        :to="`${routes.page}`">{{routes.text}}</router-link>
                    </li>
                </transition-group>
            </ul>
                <button @click="toggleNav()"> toggle </button>
        </div>

        <!-- <div class="sidenav__links">
            <div>
                <div v-for="(parentHead, index) in sideNavLinks" :key="index" @click="openAccordion">
                    <h5> {{parentHead.container}} </h5>
                    <span v-if="currentlySelected" v-for="(link, index) in parentHead.content" :key="index"> <br> {{link.label}} </span>
                </div>
            </div>
        </div> -->

        <accordion v-for="(link, index) in sideNavLinks" 
            :key="index"
            :label="link.label" 
            :content="link.content"
            :depth="0"
            :path="link"></accordion>
    </div>
</template>

<script>
import {mapState, mapActions} from 'vuex'
import accordion from './../components/Accordion'

export default {
    components: {
            accordion,
            },
    props: [  ],
    data() {
        return{
            customOn : false,
            toggledNav : false,
            contentVisible:false,
            currentlySelected:'',
        }
    },
    computed: mapState({
        links: state => state.links.all,
        customLinks: state => state.links.customLinks,
        sideNavLinks: state => state.links.sideNavLinks
    }),
    methods: {
        openAccordion( ) {
            
        },
        ...mapActions('links', [
            'addToTab'
        ]),
        switchNav(){
            this.customOn = !this.customOn
            console.log(this.customLinks)
        },
        toggleNav(){
            let navbarContainer = document.querySelector("#toggleNav")
            if(!this.toggledNav){
                navbarContainer.classList.add("toggle--small")
                this.toggledNav = true
            }
            else{
                navbarContainer.classList.remove("toggle--small")
                this.toggledNav = false
            }
            console.log(navbarContainer)
        }
    },
    created () {
        this.$store.dispatch('links/getAllLinks')
        // this.$store.dispatch('links/getAllCustomLinks')
    }
}
</script>

<style lang="scss">

.fade-enter-active, .fade-leave-active {
    transition: opacity .1s;
    }
.fade-enter, .fade-leave-to {
    opacity: 0;
    }
.slide-fade-enter-active {
    transition: all .1s ease;
    }
.slide-fade-leave-active {
    transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
.slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
    }
.sidenav__container {
    background-color: #3498db;
    min-height: 100vh;
    height: 100%;
    transition: all .5s ease-in-out;
    width: 250px;
    &:hover{
    }
    .sidenav__header {
        background-color: #2980b9;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        padding: 10px 0px;
    }
    .sidenav__links {
        display: flex;
        flex-direction: column;
        ul {
            list-style: none;
            padding-left: 0px;
            margin-bottom: 0px;
            .main__nav{
                // background-color: rgb(86, 240, 186);
            }
            li {
                padding: 6px 15px;
                span {
                    display: inline-block;
                    margin-left: 5px;
                }
                &:hover {
                    background-color: #3c9ee0;
                }
            }
            a {
                font-size: 12px;
                text-decoration: none;
                text-transform: uppercase;
                color: #fff;
            }
        }
    }
}
.toggle--small{
    width: 100px;
}
</style>
