<template>
    <div class="tabs" v-if="tabs.length > 0">
        <!-- <span class="tabs--inline" 
            v-for="routes in tabs"
            v-bind:key="routes.id">
                <router-link 
                :to="`${routes.page}`"
                >{{routes.text}} </router-link> <span class="tab-close" @click="closeTab(routes)"> x </span>
                
            </span> -->

            <span class="tabs--inline" 
            v-for="(routes, index) in tabs" :key="index">
                <router-link 
                :to="`${routes.path}`"
                >{{$t(`${routes.label}`)}} </router-link> <span class="tab-close" @click="closeTab(routes)"> x </span>
                
            </span>
    </div>
</template>
<script>
import {mapState, mapActions} from 'vuex'

export default {
    computed: mapState({
        tabs: state => state.links.tabs
    }),
    methods: mapActions('tabs',[
        'closeTab'
    ])
}
</script>
<style lang="scss">


.router-link-active{

}
.tabs{
    width: 100%;
    height: auto;
    background: rgb(238, 238, 238);
    display: flex;
    align-items:flex-end;
    padding-left: 15px;
    overflow-x: scroll;
    padding-top: 10px;
    a{
        
        padding: 5px 10px;
        text-decoration: none;
        color: #333333;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .router-link-exact-active{
        background-color: #ECF0F5;
        border-bottom: #ECF0F5 solid 1px;
        margin-bottom: -1px;
    } 
    .tabs--inline{
        width: 100%;
        background: rgb(180, 178, 187);
        margin-right: 3px;
        min-width: 100px;
        max-width: 200px;
        transition: all .2s ease-in-out;
        border: #333333 solid 1px;
        border-bottom: none;
        display: flex;
        .tab-close{
            display: block;

            visibility: hidden;
            min-width: 20px;
            transition: all .1s ease-in-out;
            cursor: pointer;
            opacity: 0;
            font-weight: 500;
            letter-spacing: 5;
        }
        &:hover{
            .tab-close{
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
.tabs::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.tabs::-webkit-scrollbar
{
    height: 5px;
	background-color: #F5F5F5;
}
.tabs::-webkit-scrollbar-thumb
{
	background-color: #5959593f;
}
</style>

